/* Colors */

/*
60% of #0035FF - Primary
30% of #FF0035 - Secondary
10% of #35FF00 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #0035FF;

/* var(--scondaryColor) !important; */
--secondaryColor: #FF0035;

/* var(--AccentColor) !important; */
--AccentColor: #35FF00;

}