@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Colors */

/*
60% of #0035FF - Primary
30% of #FF0035 - Secondary
10% of #35FF00 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #0035FF;

/* var(--secondaryColor) !important; */
--secondaryColor: #FF0035;

/* var(--AccentColor) !important; */
--AccentColor: #225415;

/* var(--fontFamily) !important; */
--fontFamily: "Montserrat", serif;

}